@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:400,700');

header > h1 > a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header > h2 > a{
    color: white;
    text-decoration: none;
    font-weight:400;
}

#signup > a{
    color: white;
    font-weight: 100;
}

header{
    background-color: #046DD5;
    font-family: 'Poppins';
    padding: 1em;
    margin-bottom: 0;
}

#menu > ul{
    text-align: center;
    font-family: 'Poppins';
    padding: 0;   
    margin-top: 0;
    background-color: white; 
}

#menu > ul > :nth-child(n) {
    padding: 1em;
    list-style-type: none;
    text-decoration: none;
}

#menu > ul > :nth-child(1){
    border-top: #E1493E solid 5px;
}
#menu > ul > :nth-child(2){
    border-top: #8ABA56 solid 5px;
}
#menu > ul > :nth-child(3){
    border-top: #5B4282 solid 5px;
}
#menu > ul > :nth-child(4){
    border-top: #FF8932 solid 5px;
}
#menu > ul > :nth-child(5){
    border-top: #19B6E9 solid 5px;
}
#menu > ul > :nth-child(6){
    border-top: #E84C8B solid 5px;
}

#menu > ul > li > a{
    text-decoration: none;
    color:black;
    font-weight: 500;
}

#hamburger, .hamburger{
    display: none;
    padding: 0;
    margin: 0;
}

#related{
    background-color: #2A2F33;
    color: white;
    font-family: 'Lora';
    padding:1em;
    font-size: small;
    line-height: 1.8em;
    margin-top: 0;
}

#related > article > h1 > a{
    font-family: 'Poppins';
    text-decoration: none;
    color:white;

}

 #signup > a:first-of-type{
    border-right: white solid 1px;
    padding-right: 0.8em;
    text-decoration: none;
 }

 #signup > a:nth-of-type(2){
    padding-left: 0.8em;
    text-decoration: none;
 }

 #news > article > p{
    padding-left: 1em;
    padding-right: 1em;
    font-size: medium;
    font-family: 'Lora';
 }

 #news > article > p:first-of-type::first-letter{
    font-size: xx-large;
 }

 #news > article > p:first-of-type{
    margin-top: 0.5em;
 }

#news img{
    width: 100%;
    margin-top: 0;
}
#news{
    margin: 0;
}

footer{
    background-color: #F4655F;
    color:white;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    font-family: 'Poppins';
    font-size: small;
}

footer > .author::before{
    content: 'By ';
}

.tags, .date{
    margin-right: 1em;
}

.comments::after{
    content: ' comments';
}

footer > span > a, footer > a{
    color: white;
    text-decoration: none;
    border-bottom: solid white 1px;
}

body > footer{
    font-family: 'Lora';
    font-size: medium;
    background-color: #2A2F33;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

#news > article{
    position: relative;
}

#news > article > header > h1 > a{
    position: absolute;
    bottom: -55px;
    left: 25px;
    padding: 0;
    margin: 0;
    font-size: x-large;
}

#news > article > header{
    background:none;
    filter: drop-shadow(6px 6px 2px black);
    padding: 0;
}

#menu > ul > li:hover, #menu > ul > li > a:hover{
    color: white;
    background-color: #2A2F33;
}

#menu > ul, #menu > ul > li{
    margin-bottom: 0;
}